@import url('https://fonts.googleapis.com/css?family=Lato:300italic');


html, body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(42,123,155,1) 0%, rgba(87,199,133,1) 50%, rgba(140,138,135,1) 100%);
  overflow: hidden;
}

.text {
  color: #ffffff;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

.h1{
    margin-top: 50px;
}

.gift-container {
  position: relative;
  width: 90vw;
  max-width: 800px;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

.gift {
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

.gift-box {
  fill: #ff0000;
}

.gift-lid-group {
  transition: transform 1s ease-in-out;
  transform-origin: center center;
}

.gift-lid {
  fill: #041291;
}

.gift-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: transform 1s ease-in-out;
}

.gift-bow-img {
  position: absolute;
  top: 30%; /* Ajuste relativo al contenedor */
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  z-index: 2;
  transition: transform 1s ease-in-out;
}

.open-gift-btn {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #385474, #35886b);
  color: white;
  padding: 20px 30px;
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 3;
}

.open-gift-btn:hover {
  background-color: #ff6a00;
}

.open-gift-btn:focus {
  outline: none;
}

@media (max-width: 480px) {
  .gift-bow-img {
    top: 20%; /* Mueve el moño más abajo */
    width: 60%; /* Ajusta el tamaño del moño */
    transform: translateX(-50%) translateY(0%); /* Ajusta la posición del moño */
  }

  .gift-lid {
    transform: translateY(0%); /* Mueve la tapa más hacia abajo */
  }
}